.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 425px;
  margin-top: 10px;
}

.input {
  font-size: 16px;
  padding: 5px;
  width: 65%;
}

.search-button {
  margin-left: 10px;
  font-size: 20px;
  padding: 5px;
}

.search-button:hover {
  cursor: pointer;
  color: #00acee;
}
