a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #00acee;
}

.display {
  margin-top: 10px;
}

.tweets {
  padding: 10px;
  text-align: left;
  border: black 1px solid;
  margin-top: 30px;
  max-width: 400px;
  max-height: 70vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tweet {
  border: 1px solid black;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  padding: 10px;
}

.subsection {
  display: flex;
  align-items: center;
  max-height: 30px;
}

.subsection p {
  padding-right: 10px;
}

.name {
  font-weight: bold;
}

.favs {
  color: #e0245e;
}

.rts {
  color: #16c063;
}
