.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  background-color: #00acee;
  color: white;
  padding: 20px;
  font-size: 28px;
}

.App p {
  margin-top: 5px;
}
